@model IngeDolan3._0.Models.Scenario

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Borrar</h2>
<h3>¿Realmente desea borrar el escenario seleccionada?</h3>
<div>
    <div class="navbar-right" style="display:inline-block;">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.StoryID)
            @Html.HiddenFor(model => model.ProjectID)

            <input type="submit" value="Borrar" class="btn btn-default" />
        }
    </div>

    <div class="navbar-right" style="display:inline-block;">

    </div>

    <h4>Escenario</h4>
    <hr />
    <dl class="dl-horizontal">
        
        <dt>
            Numero
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScenarioNumber)
        </dd>

        <dt>
            Criterio Aceptacion
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AcceptanceCriteria)
        </dd>

        <dt>
            Contexto
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Context)
        </dd>

        <dt>
            Evento
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Event)
        </dd>

        <dt>
            Resultado
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Resultado)
        </dd>

    </dl>

</div>

<div class="form-actions no-color">
    @Html.ActionLink("Regresar", "Details", new { projectId = Model.ProjectID, storyId = Model.StoryID, ScenarioId = Model.ScenarioNumber }, new { @class = "btn btn-default" })
</div>