@model IEnumerable<IngeDolan3._0.Models.Milestone>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var grid = new WebGrid(canPage: true, rowsPerPage: 10);
    grid.Bind(source: Model, rowCount: ViewBag.TotalRows, autoSortAndPage: false);
}

<!DOCTYPE html>

<html>

<body>
    <style>
        table th {
            color: white;
        }
    </style>
    <div style="background-color:rgba(143, 151, 121, 0.70);color:white;">
        <div class="container">
            <h2>Lista de Tareas</h2>

            <nav class="navbar ">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a href="#" class="navbar-brand">Buscar</a>
                    </div>
                    <div class="collapse navbar-collapse">
                        @using (Html.BeginForm("index", "home", FormMethod.Get, new { @class = "navbar-form navbar-left" }))
                        {

                            <input type="text" name="search" value="@ViewBag.search" class="form-control" placeholder="Buscar" />
                            <button type="submit" value="Search" class="btn btn-success">Buscar</button>


                        }
                        <div class="navbar-right" style="display:inline-block;">
                            @Html.ActionLink("Crear Nuevo", "Create", new { projectId = ViewBag.ProyectId, storyId = ViewBag.StoryId, taskId = ViewBag.TaskId }, new { @class = "btn btn-default" })
                        </div>
                    </div>

                </div>

            </nav>

            <div style="color:white;">
                @grid.Table(
                    tableStyle: "table table-responsive table-bordered",
                    columns: grid.Columns(
                        grid.Column(columnName: "Progress", header: "Progreso"),
                        grid.Column("Date", "Fecha", format: (item) => item.Date != null ? item.Date.ToString("MM/dd/yy") : "", canSort: true),
                        grid.Column(header: "Detalles", format: (item) => Html.ActionLink("Detalles", "Details", new { projectId = item.ProjectID, storyId = item.StoryID, taskId = item.TaskID, date = item.Date }))
                    )
                )

                <div class="row">
                    <div class="col-sm-6">
                        @grid.PagerList(mode: WebGridPagerModes.All, paginationStyle: "pagination pagination-small pagination-right")
                    </div>
                </div>

                @Html.Hidden("dir", grid.SortDirection)
                @Html.Hidden("col", grid.SortColumn)

            </div>
        </div>
    </div>

    <script src="~/Scripts/jquery-3.1.1.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script>
        $(function () {
            try {
                var dir = $('#dir').val();
                var col = $('#col').val();
                var header = $("th a[href*=" + col + "]");
                if (dir == "Ascending") {
                    header.text(header.text() + "  ▲")
                }
                if (dir == "Descending") {
                    header.text(header.text() + "  ▼");
                }

            } catch (e) {

            }
        })
    </script>

</body>

</html>

<div class="form-actions no-color">
    @Html.ActionLink("Regresar", "Index", "ProjectTasks", new { projectId = ViewBag.ProyectId, storyId = ViewBag.StoryID }, new { @class = "btn btn-default" })
</div>

<div id="TargetDiv"></div>
