@model IngeDolan3._0.Models.RoleInt

@{
    ViewBag.Title = "Editar permisos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm("Edit", "Permisoes", FormMethod.Post, new{ @class = "form-horizontal", role = "form" })){

    //@using (Html.BeginForm("Create", "Projects", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))

         @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <div class="form-group">
                @Html.Label("Disponibles", new { @class = "col-md-offset-2 col-md-2 control-label", @style = "text-align:center;margin-left:195px;" })
                @Html.Label("Equipo", new { @class = "col-md-offset-2  col-md-2 control-label required", @style = "text-align:center;margin-left:10px;margin-bottom:10px" })
                <div class="col-md-offset-2 col-md-10" style="margin-bottom:25px">
                    @Html.ListBoxFor(m => m.AssignedPermits, new MultiSelectList(ViewBag.AllPermits, "codigo", "nombre"), new { id = "listica", Multiple = "multiple", Size = 20, style = "width: 100%;" })
                    @Html.ValidationMessageFor(model => model.AssignedPermits, "", new { @class = "text-danger" })
                </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Edit" class="btn btn-default"/>
            </div>
        </div>
    </div>

    <style type="text/css">
        .required:after {
            content: "*";
            font-weight: bold;
            color: red;
        }
    </style>
    <script>
        window.onload = function () {
            $('#listica').multiSelect();
            $('.datePicker').datepicker();
        };
    </script>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
