    @model IngeDolan3._0.Models.Project

@{
    ViewBag.Title = "Detailles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles</h2>

<div class="navbar-right" style="display:inline-block;">
    @Html.ActionLink("Editar", "Edit", new { id = Model.ProjectID }, new { @class = "btn btn-default" })
    @Html.ActionLink("Borrar", "Delete", new { id = Model.ProjectID }, new { @class = "btn btn-default" })
</div>

<div>
    <h4>Proyecto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nombre del Proyecto
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectName)
        </dd>

        <dt>
            Lider del proyecto
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.name)
        </dd>

        <dt>
            Descripción
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descriptions)
        </dd>

        <dt>
            Estado
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pstate)
        </dd>

        <dt>
            Fecha de Inicio
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartingDate)
        </dd>

        <dt>
            Fecha Final
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FinalDate)
        </dd>
        
    </dl>

</div>
<p>
    @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-default" })
</p>

