@model IngeDolan3._0.Models.Project

@{
    ViewBag.Title = "Detailles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles de Proyecto</h2>

<div>
        <hr style="height:1px;border:none;color:#333;background-color:rgb(255,255,255);" />
            <dt>
                @Html.DisplayNameFor(model => model.ProjectName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ProjectName)
            </dd>

        <hr style="height:1px;border:none;color:#333;background-color:rgb(255,255,255);" />
            <dt>
                @Html.DisplayNameFor(model => model.Descriptions)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Descriptions)
            </dd>

        <hr style="height:1px;border:none;color:#333;background-color:rgb(255,255,255);" />
            <dt>
                @Html.DisplayNameFor(model => model.StartingDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.StartingDate)
            </dd>

        <hr style="height:1px;border:none;color:#333;background-color:rgb(255,255,255);" />
            <dt>
                @Html.DisplayNameFor(model => model.FinalDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FinalDate)
            </dd>

        <hr style="height:1px;border:none;color:#333;background-color:rgb(255,255,255);" />
            <dt>
                @Html.DisplayNameFor(model => model.Pstate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Pstate)
            </dd>

        <hr style="height:1px;border:none;color:#333;background-color:rgb(255,255,255);" />
            <dt>
                @Html.DisplayNameFor(model => model.LeaderID)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LeaderID)
            </dd>
</div>