@model IEnumerable<IngeDolan3._0.Models.Project>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    @*Aca viene la parte extra*@

var grid = new WebGrid(canPage: true, rowsPerPage: 10);
grid.Bind(source: Model, rowCount: ViewBag.TotalRows, autoSortAndPage: false);
}

<p>
    @Html.ActionLink("Crear Nuevo", "Create")
</p>

<h2>Índice</h2>
@*

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.USERNAME)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SURNAME)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LASTNAME)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.USERNAME)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SURNAME)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LASTNAME)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.USERS_ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.USERS_ID }) |
                    <a href='@Url.Action("Details", new { id=item.USERS_ID })' class="ajax">Details</a>
                </td>
            </tr>
        }

    </table>

    <div id="TargetDiv"></div>
*@


<!DOCTYPE html>

<html>

<body>
    <style>
        table th {
            color: white;
        }
    </style>
    <div style="background-color:rgba(143, 151, 121, 0.70);color:white;">
        <div class="container">
            <h2>Lista de Proyectos</h2>

            <nav class="navbar ">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a href="#" class="navbar-brand">Buscar</a>
                    </div>
                    <div class="collapse navbar-collapse">
                        @using (Html.BeginForm("index", "home", FormMethod.Get, new { @class = "navbar-form navbar-left" }))
                        {
                            <div class="form-group">
                                <input type="text" name="search" value="@ViewBag.search" class="form-control" placeholder="Buscar" />
                            </div>
                            <button type="submit" value="Search" class="btn btn-success">Buscar</button>
                        }
                    </div>
                </div>
            </nav>

            <div style="color:white;">
                @grid.Table(
                    tableStyle: "table table-responsive table-bordered",
                    columns: grid.Columns(
                        grid.Column(columnName: "StartingDate", header: "Fecha Inicial", format: (item) => string.Format("{0:dd-MMM-yyyy}", item.StartingDate), canSort: false),
                        grid.Column(columnName: "FinalDate", header: "Fecha Final", format: (item) => string.Format("{0:dd-MMM-yyyy}", item.FinalDate), canSort: false),
                        grid.Column(columnName: "Descriptions", header: "Descripcion", canSort: false),
                        grid.Column(columnName: "ProjectName", header: "Nombre", canSort: false),
                        grid.Column(header: "Detalles", format:@<text><a href='@Url.Action("Details", new { id = item.ProjectID })' class="ajax">Detalles</a></text>, canSort: false),
                        grid.Column(header: "Editar", format: (item) => Html.ActionLink("Editar", "Edit", new { id = item.ProjectID }), canSort: false),
                        grid.Column(header: "Borrar", format: (item) => Html.ActionLink("Borrar", "Delete", new { id = item.ProjectID }), canSort: false)
                    )
                )

                <div class="row">
                    <div class="col-sm-6">
                        @grid.PagerList(mode: WebGridPagerModes.All, paginationStyle: "pagination pagination-small pagination-right")
                    </div>
                </div>

                @Html.Hidden("dir", grid.SortDirection)
                @Html.Hidden("col", grid.SortColumn)

            </div>
        </div>
    </div>

    <script src="~/Scripts/jquery-3.1.1.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script>
        $(function () {
            try {
                var dir = $('#dir').val();
                var col = $('#col').val();
                var header = $("th a[href*=" + col + "]");
                if (dir == "Ascending") {
                    header.text(header.text() + "  ▲")
                }
                if (dir == "Descending") {
                    header.text(header.text() + "  ▼");
                }

            } catch (e) {

            }
        })
    </script>
</body>

</html>

<div id="TargetDiv"></div>