@model IngeDolan3._0.Models.UserStory

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eliminar</h2>

<h3>¿Realmente desea borrar la historia de usuario seleccionada?</h3>
<div>
    <h4>Historia de Usuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Id de la historia de Usuario
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SprintID)
        </dd>

        <dt>
            Prioridad
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Priorities)
        </dd>

        <dt>
            Rol del cliente
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientRole)
        </dd>

        <dt>
            Estimación
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estimation)
        </dd>

        <dt>
            Razon
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reason)
        </dd>

        <dt>
            Funcionalidad
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Funtionality)
        </dd>

        <dt>
            Alias
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Alias)
        </dd>

        <dt>
            Descripcion
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Project.Descriptions)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Borrar" class="btn btn-default" /> |
            @Html.ActionLink("Regresar", "Index")
        </div>
    }
</div>
