@model IngeDolan3._0.Models.UserStory

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles</h2>

<div>
    <h4>UserStory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Id de la historia de Usuario
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SprintID)
        </dd>

        <dt>
            Alias
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Alias)
        </dd>

        <dt>
            Rol del cliente
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientRole)
        </dd>

        <dt>
            Descripcion
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Funtionality)
        </dd>

        <dt>
            Razon
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reason)
        </dd>

        <dt>
            Prioridad
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Priorities)
        </dd>

        <dt>
            Estimacion de la Historia
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estimation)
        </dd>

        <dt>
            Proyecto al que pertenece
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Project.Descriptions)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { storyId = Model.StoryID, projectId = Model.ProjectID }) |
    @Html.ActionLink("Back to List", "Index", new { storyId = Model.StoryID, projectId = Model.ProjectID })
</p>
